body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#payrollDetails {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

select {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size: 20px;
    color: #333;
}
